body, html {
	margin: 0;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-image: url('/app/images/peace.jpg');

}

.top-bar{
	width: 100%;
	height: 100px;
	background: rgba(55, 140, 205, 0.9);
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 3px;
	
}
.logo{
	height: 90px;
	width: 32%;
}

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.header-item{
	padding: 10px;
	width: 20%;


}
.header-item-right{
	text-align: right;
}
.main-text{
	text-align: center;
	font-size: 46px;
	height: 60px;
}
.main-text, a:link, a:visited{
	text-decoration: none;
	color: black;
}

.main-text:hover {
	color: blue;
	-webkit-animation: mainLinkAnimation 1.5s;
    animation: mainLinkAnimation 1.5s;
    -webkit-animation-fill-mode: forwards; 
	animation-fill-mode: forwards;
}


.login-box{
	width: 44%;
	height: 350px;
	margin: auto;
	/*position: relative;*/
	margin-top: 5%;

	-webkit-animation: backAnimation 2s;
	animation: backAnimation 2s;
	-webkit-animation-fill-mode: forwards; 
	animation-fill-mode: forwards; 

}

.login-box, .preferences{

}

.login-box-top{
	width: 100%;
	height: 30px;
	background: rgba(255,255,255, 0.5);
	position: relative;
	text-align: center;
	padding-top: 8px;

}

.login-box-bottom{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.submit-button{
	width: 20%;
	height: 41px;
	font-size: 16px;
	margin-top: 10%;
	margin-left: 10px; 
}

.results-box{
	width: 40%;
	height: 275px;
	margin: auto;
	padding: 15px;

	margin-top: 5%;

	-webkit-animation: backAnimation 2s;
	animation: backAnimation 2s;
	-webkit-animation-fill-mode: forwards; 
	animation-fill-mode: forwards; 
}

.google-btn {
    display: inline-block;
    font-size: 12px;
    color: white;
    width: 170px;
    border-radius: 5px;
    white-space: nowrap;
    
    margin-top: 50%;
    -webkit-animation: buttonAnimation 2s;
    animation: buttonAnimation 2s;
    -webkit-animation-fill-mode: forwards; 
	animation-fill-mode: forwards;
}


span.icon {
    background: url('https://onecaringteam.com/assets/google-plus-icon-761c24624eed5f3604aa22f96938aa83.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-right: #bb3f30 1px solid;
    padding: 5px;
}

.preferences-button{
	width: 35%;
	height: 55px;
	font-size: 14px;
	margin: auto;
	text-align: center;
	margin-top: 20px;
	background: rgba(55, 140, 205, 0.9);
	padding: 8px;
}

.search-box{
	width: 45%;
	height: 35px;
	font-size: 16px;
	margin-top: 10%;
}

.google-places-text{
	text-align: center;
	padding-top: 40px;
}

/*animations*/

-webkit-@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
            transform: translate3d(0,-4px,0);
  }
}



@-webkit-keyframes backAnimation {
	from {background: rgba(182, 182, 182, 0.2);}
	to {background: rgba(182, 182, 182, 0.9);}
}

@keyframes backAnimation {
	from {background: rgba(182, 182, 182, 0.2);}
	to {background: rgba(182, 182, 182, 0.9);}
}

@-webkit-keyframes buttonAnimation {
	from {background: rgba(221, 75, 57, 0.2);}
	to {background: rgba(221, 75, 57, 0.9);}
}

@keyframes buttonAnimation {
	from {background: rgba(221, 75, 57, 0.2);}
	to {background: rgba(221, 75, 57, 0.9);}
}

@-webkit-keyframes mainLinkAnimation {
	from {color: black;}
	to {color: white;}
}

@keyframes mainLinkAnimation {
	from {color: black;}
	to {color: white;}
}

/*media queries */

@media (max-width: 720px) {
	.header-item{
		display: none;
	}
	.mainText{
		text-align: left;
		font-size: 24px;
	}
	.login-box{
		width: 75%;
	}
	.results-box{
		width: 75%;
	}

}

@media (min-width: 1230px) {
	.login-box{
		width: 550px;
	}
}

.inline-block-center {
  text-align: center;
}
.inline-block-center div {
  display: inline-block;
  text-align: left;
}

.flex-center {
  display: flex;
  justify-content: center;
}
