<div class="login-box">
	<div class="login-box-top">
		What are you interested in?
	</div>
	<div class="login-box-bottom">
		<button class="preferences-button" ng-click="mobile()">
			Mobile Games
		</button>
		<button class="preferences-button" ng-click="outdoors()">
			Outdoors
		</button>
		<button class="preferences-button" ng-click="tv()">
			TV
		</button>
		<button class="preferences-button" ng-click="random()">
			Random Websites
		</button>
		<button class="preferences-button" ng-click="localSearch()">
			Local happenings
		</button>
	</div>
</div>


