

<div class="login-box">
	<div class="login-box-top">
		What do you feel like doing?
	</div>
	<div class="login-box-bottom">
		<button class="preferences-button" ng-click="mobile()">
			Play Mobile Games
		</button>
		<button class="preferences-button" ng-click="outdoors()">
			Go Outdoors
		</button>
		<button class="preferences-button" ng-click="tv()">
			Watch TV
		</button>
		<button class="preferences-button" ng-click="random()">
			View Random Websites
		</button>
		<button class="preferences-button" ng-click="localSearch()">
			Search local happenings
		</button>
	</div>
</div>


