

<div class="login-box">
	<div class="login-box-top">
		How much time do you have?
	</div>
	
	<div class="login-box-bottom">
		<button class="preferences-button" ng-click="fifteen()">
			15 minutes
		</button>
		<button class="preferences-button" ng-click="thirty()">
			30 minutes 
		</button>
		<button class="preferences-button" ng-click="sixty()">
			One hour 
		</button>
		<button class="preferences-button" ng-click="ninty()">
			90 minutes
		</button>
		<button class="preferences-button" ng-click="onetwenty()">
			Two hours 
		</button>
	</div>
</div>
